.codewars-title {
    font-weight: bolder;
    margin-bottom: 10px;
}

.katas-page-header > h1 {
    padding-bottom: 25px;
}

.katas-page-header > p {
    font-size: 12pt;
}

#katas-table {
    width: 100%;
    font-size: 12pt;
}

#katas-table-body > tr > td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.katas-row {
    border-bottom: 1px solid #000000;
}

.katas-row-dark-mode {
    border-bottom: 1px solid #FFFFFF;
}

#katas-table > thead > tr > th {
    padding-bottom: 10px;
}

.kata-number {
    padding-right: 10px;
}

.language {
    font-style: italic;
}

a {
    text-decoration: none;
    color: skyblue;
}

.even-row {
    background-color: #F5FFFA;
}
